# docker-compose.ssl.yaml
# Run with:
# docker compose -f docker-compose.ssl.yaml up -d

version: "3.8"

services:
  smtp:
    build:
      context: ./docker/smtp
    restart: always
    expose:
      - "25"
    volumes:
      - mail-spool-data:/var/spool/postfix
    environment:
      SMTP_SERVER: ${SMTP_SERVER}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SERVER_HOSTNAME: ${SERVER_HOSTNAME}
      DESTINATION_CONCURRENCY_LIMIT: "1"
      DESTINATION_RATE_DELAY: "1s"

  php:
    build:
      context: ./docker/php
    restart: always
    expose:
      - "9000"
    volumes:
      - ./app:/srv/www/api
      - ./docker/php/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./docker/php/msmtprc:/etc/msmtprc
      - ./docker/php/php.conf:/usr/local/etc/php/conf.d/custom.ini:ro
      - ./logs/php:/var/log
    environment:
      MYSQL_USER: hotcrp
      MYSQL_PASSWORD: hotcrppwd
      MYSQL_DATABASE: hotcrp
      MYSQL_ROOT_PASSWORD: root
      HOTCRP_PAPER_SITE: ${HOTCRP_PAPER_SITE}
      HOTCRP_CONTACT_NAME: ${HOTCRP_CONTACT_NAME}
      HOTCRP_EMAIL_CONTACT: ${HOTCRP_EMAIL_CONTACT}
      HOTCRP_EMAIL_FROM: ${HOTCRP_EMAIL_FROM}
    depends_on:
      - smtp

  caddy:
    image: caddy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./app:/srv/www/api
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - php

  mysql:
    image: mysql:8.0.26
    restart: always
    command: --max_allowed_packet=157286400
    expose:
      - "3306"
    volumes:
      - ./dbdata:/var/lib/mysql
    environment:
      MYSQL_USER: hotcrp
      MYSQL_PASSWORD: hotcrppwd
      MYSQL_DATABASE: hotcrp
      MYSQL_ROOT_PASSWORD: root

volumes:
  mail-spool-data:
  caddy_data:
  caddy_config:
